{% extends 'base.html.twig' %}

{% block body %}

<div class="content-page">
  <div class="content">
    <div class="table-responsive">
      {% if subjects %}
        <form method="GET" action="{{ path('search') }}" class="form-inline">
          <div class="form-group">
            <input type="text" name="name" placeholder="Nom" class="form-control" value="{{ app.request.get('name') }}">
          </div>
          <div class="form-group">
            <input type="text" name="classes_esprit" placeholder="Description" class="form-control" value="{{ app.request.get('classes_esprit') }}">
          </div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Rechercher</button>
        </form>
        <br>
        <table class="table table-left" id="btn-editable">
          <thead>
            <tr>
              <th style="text-align: left;">Nom</th>
              <th>Description</th>
              <th>Classe</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody >
            {% for subject in subjects %}
              <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.description }}</td>
                <td>{{ subject.getClassesEsprit() }}</td>
                <td>
                  <a href="{{ path('modifiersubject', {'id': subject.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                  <a href="{{ path('deletesubject', {'id': subject.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No subjects found.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
